
<span id="main-nav">
    <h1>SME Board</h1>
</span>
<span id="user">

    <% if (user) { %>
        <p id="username"><%= user.email %></p>
    <% } %>

    <img src="/assets/raw/user-icon.svg" />
</span>