
<span id="main-nav">
    <h1>Admin Board</h1>
</span>
<span id="user">

    <% if (user) { %>
        <span id="username"><%= user.email %></span>
    <% } %>

    <img src="/assets/raw/user-icon.svg" />
</span>