<!DOCTYPE html />


<html lang="pt-BR" xmlns:fb="http://ogp.me/ns/fb#">

<head id="ctl00_ctl00_Head1">
	<title>

	</title>
	<meta charset="utf-8" />
	
	<script type="text/javascript" src="../Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="../Scripts/linha.framework.js"></script>
	<script type="text/javascript" src="../Scripts/jquery.corner.js"></script>
	<script type="text/javascript" src="../Scripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="../Scripts/chat.js"></script>
	<link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon" />
	

	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<link href="/css/styles.css" type="text/css" rel="stylesheet" />

	
</head>

<body>

	<div>
	</div>


	<div>

	</div>
	<header>


		</div>
		</div>

		<div class="header-links">
			<ul class="centro">

				<li>
					<a href="/login" title="Login">
						Login
					</a>
				</li>





			</ul>

		</div>






	</header>
	<section>
		<div class="clear"></div>
		<div class="master-wrapper-page">
			<div class="master-wrapper-content">

				<div class="master-wrapper-center-1">
					<div class="master-wrapper-cph-1">



						<div class="box-padrao">


							<div class="wrapper">



								<div class="box-branco log float-left">
									<form action="/login" method="post">


										<span class="login-title">
				LOGIN</span>
										<div class="login-block">

											<table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
												<tr>
													<td>
														<table class="login-table-container">
															<tbody>
																<tr class="row">
																	<td class="item-name">
																		<label for="username">E-mail</label>:
																	</td>
																	<td class="item-value">
																		<input type="text" name="username" value="usuario"/>
																		<span id="ctl00_ctl00_cph1_cph1_ctrlCustomerLogin_LoginForm_UserNameOrEmailRequired" title="E-Mail é obrigatório" style="color:Red;visibility:hidden;">*</span>
																	</td>
																</tr>
																<tr class="row">
																	<td class="item-name">
																		<label for="password">Senha</label>:
																	</td>
																	<td class="item-value">
																		<input type="password" name="password" value="senha"/>
																		<span id="ctl00_ctl00_cph1_cph1_ctrlCustomerLogin_LoginForm_PasswordRequired" title="Senha é obrigatória" style="color:Red;visibility:hidden;">*</span>
																	</td>
																</tr>
																<tr class="row">
																	<td class="message-error" colspan="2">

																	</td>
																</tr>

																<tr class="row">
																	<td colspan="2">
																		<input type="submit" value="Submit" />
																	</td>
																</tr>

															</tbody>
														</table>
													</td>
												</tr>
											</table>
									</form>

									</div>
								</div>
							</div>
							<div class="clear">
							</div>

						</div>


					</div>
				</div>

			</div>
		</div>
	</section>
	<footer>





	</footer>
	</form>





	</footer>



	</form>



</body>

</html>